<%= form_with(model: commercial_unit, local: true) do |form| %>
  <% if commercial_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commercial_unit.errors.count, "error") %> prohibited this commercial_unit from being saved:</h2>

      <ul>
        <% commercial_unit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :owner %>
    <%= form.text_field :owner, class: 'form-control', required: true  %>
  </div>

  <div class="form-group">
    <%= form.label :owner_email %>
    <%= form.email_field :owner_email, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :shops %>
    <%= form.number_field :shops, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :sqmt %>
    <%= form.number_field :sqmt, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :parking %>
    <%= form.number_field :parking, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
