<p id="notice"><%= notice %></p>

<h1>Commercial Units</h1>

<table border="1" class="table">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Owner Email</th>
      <th>Address</th>
      <th>Shops</th>
      <th>Sqmt</th>
      <th>Parking</th>
      <th>Price</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commercial_units.each do |commercial_unit| %>
      <tr>
        <td><%= commercial_unit.owner %></td>
        <td><%= commercial_unit.owner_email %></td>
        <td><%= commercial_unit.address %></td>
        <td><%= commercial_unit.shops %></td>
        <td><%= commercial_unit.sqmt %></td>
        <td><%= commercial_unit.parking %></td>
        <td><%= commercial_unit.price %></td>
        <td><%= image_tag(rails_blob_path(commercial_unit.image), width: 150 ) if commercial_unit.image.attached? %></td>
        <td><%= link_to 'Show', commercial_unit, class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Edit', edit_commercial_unit_path(commercial_unit), class: 'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Destroy', commercial_unit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commercial Unit', new_commercial_unit_path, class: 'btn btn-primary' %>
